/* Basicaly just bfpimentel's theme from https://www.reddit.com/r/unixporn/comments/1q4mlpg/yabai_apple_aint_forcing_me_to_have_rounded/ */

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;
@define-color text   #cdd6f4;
@define-color blue   #89b4fa;
@define-color red    #f38ba8;
@define-color green  #a6e3a1;
@define-color yellow #f9e2af;
@define-color mauve  #cba6f7;
@define-color overlay1 #7f849c;
@define-color lavender #b4befe;

/* I love Catppuccin Mocha */
* {
    font-family: JetBrainsMono Nerd Font, FontAwesome;
    font-size: 12px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#custom-power,
#window,
#workspaces button
 {
    padding: 0 10px;
    color: @text;
}

window#waybar {
    background-color: @base;

    transition-property: background-color;
    transition-duration: .5s;
}


window#waybar.empty #window {
    background-color: transparent;
}

#workspaces {
    margin-left: 1.5px;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 2.5px;

    transition-property: background-color;
    transition-duration: .5s;

    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces button:hover {
    background: @text;
    color: @crust;
    box-shadow: inset 0 -3px @overlay1;
}

#workspaces button.focused, #workspaces button.active {
    background-color: @text;
    color: @crust;
    border: 2px solid @overlay1;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    margin-left: 1.5px;
    margin-right: 0px;
    background-color: @text;
    color: #000000;
    border: 1px solid @overlay1;
}

#clock {
    margin: 4px 0;
}

#battery {
    padding-right: 15px;
}

#battery.charging, #battery.plugged {
    color: @green;
    padding-right: 10px;
}

@keyframes blink {
    to {
        background-color: @text;
        color: @crust;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @red;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    color: @red;
}

#power-profiles-daemon.balanced {
    color: @blue;
}

#power-profiles-daemon.power-saver {
    color: @green;
}

#temperature, #cpu, #memory, #network, #bluetooth { 
    margin: 0px 0px;
}

#temperature {
    color: @yellow;
}

#temperature.critical {
    color: @red;
}

#cpu {
    color: @green;
    padding-right: 14px;
}

#memory {
    color: @mauve;
    padding-right: 15px;
}

#metrics {
    margin: 4px 4px;
}

#metrics:hover { 
    border: 2px solid @text;
}

#backlight {
    color: @lavender;
    padding-right: 14px;
}

#bluetooth {
    font-size: 16px;
}

#network, #bluetooth.on {
    color: @blue;
}

#network.disconnected {
    color: @red;
    padding-right: 15px;
    font-size: 14px;
}

#bluetooth.off {
     color: @red;   
}

#right_main {
    margin: 4px 4px;
}

#pulseaudio {
    color: @yellow;
    padding-right: 15px;
}

#pulseaudio.muted {
    color: @text;
}

#custom-media {
    background-color: @green;
    color: @green;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @green;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#mpd {
    /* background-color: #66cc99; */
    color: @green;
}

#mpd.disconnected {
    /* background-color: #f53c3c; */
}

#mpd.stopped {
    /* background-color: #90b1b1; */
}

#mpd.paused {
    /* background-color: #51a37a; */
}

#scratchpad {
    background: @mantle;
}

#scratchpad.empty {
	background-color: transparent;
}

#custom-power {
    padding-right: 6px;
}
